<div class="media">
  <div class="media-body">
    <h6 class="media-heading">
      <% @events.map{ |key, array| %>
        <div class="md-8-col">
          <%= "Event: #{key.upcase} has #{array.count} hits" %>
          <% } %> <br/>
        </div>
    </h4>
  </div>
</div>
