<div class="media">
  <div class="media-body">
    <h6 class="media-heading">
      <% @events.map{ |key, array| %>
        <div class="md-8-col">
          <%= "Event: #{key.upcase} has #{array.count} hits" %> <br/>
          <% } %>
          <div class="md-8-col">
            <%= pie_chart get_views_registered_application_path %>
            <%= line_chart @applet.events.group_by_day(:created_at).count %>
          </div>
        </div>
    </h4>
  </div>
</div>
