<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to registered_application.name, registered_application %>
      <small> <%=  registered_application.url %> </small> - 
    </h4>
  </div>
</div>
