<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
      <%= link_to application.name, application %>
      <small> <%=  application.url#index_markdown %> </small>
    </h4>
  </div>
</div>
